<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    <meta charset="utf-8">
    <title>{% block title %}{{ config.title }}{% endblock title %} - Thomas' Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" content="/favicon-32x32.png" />
    <link rel="stylesheet" href="/pico.min.css">
    <link rel="stylesheet" href="/custom.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <script defer src="https://analytics.eu.umami.is/script.js" data-website-id="ca97c930-a532-4dfe-bf87-352bd391e491"></script>
</head>

<body>
   
    <main class="container">
        <header>
            <nav>
                <ul>
                    <li>
                        <strong>Thomas' Homepage</a></strong>
                    </li>
                </ul>
                <ul>
                    <li><a href="/" {% if current_path == "/" %}aria-current="page"{% endif %}>Home</a></li>
                    <li><a href="/blog/" {% if current_path is starting_with("/blog") %}aria-current="page"{% endif %}>Blog</a></li>
                    <li><a href="/about" {% if current_path is starting_with("/about") %}aria-current="page"{% endif %}>About</a></li>
                    <li><a href="javascript:void(0)" id="theme-switch" onclick="switchMode(this)">☀️</a></li>
                </ul>
            </nav>
        </header>
        {% block content %} {% endblock %}
        <footer class="container">
        This site is made with the <a href="https://www.getzola.org">Zola Static Site Generator</a> & <a href="https://picocss.com">Pico CSS Framework</a>.
        </footer>
    </main>

    <script>
        if (
          window.matchMedia &&
          window.matchMedia("(prefers-color-scheme: dark)").matches
        ) {
            document.documentElement.dataset.theme = "dark";
            document.querySelector('#theme-switch').innerHTML = "🌙"
        }
    
        function switchMode(el) {
          document.documentElement.dataset.theme === "dark"
            ? ((el.innerHTML = "☀️"), document.documentElement.dataset.theme = "light")
            : ((el.innerHTML = "🌙"), document.documentElement.dataset.theme = "dark");
        }
      </script>
</body>

</html>