{% extends "base.html" %}

{% block content %}
<h1>Welcome</h1>
<p>This is my homepage, where I <a href="{{ get_url(path="@/blog/_index.md") }}">blog</a> about anything interesting to me. You can <a href="{{ get_url(path="@/about/index.md") }}">learn more about me</a></a> as well, if you are interested.</p>
<h1>Socials</h1>
<ul>
    <li><a href="https://www.xing.com/profile/Thomas_Kinnen">Xing</a></li>
    <li><a href="https://www.linkedin.com/in/thomas-kinnen-b4bb6b159/">Linked-In</a></li>
    <li><a href="https://github.com/nihathrael">Github</a></li>
</ul>
{% endblock content %}