{% extends "base.html" %}
{% block title %}Home{% endblock title %}
{% block content %}
<h1>Hi There!</h1>
<p>I'm <a href="{{ get_url(path="@/about/index.md") }}">Thomas</a>, welcome to my homepage. I blog about anything that interests me. </p>

<h2>Blog Posts</h2>
{% set blog_section = get_section(path="blog/_index.md") %}
<ul>
    {% for page in blog_section.pages %}
    <li><a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
    {% endfor %}
</ul>
{% include "socials.html" %}
{% endblock content %}